* {
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}
.container {
    position:relative;
    display:block;
    overflow: hidden;
}
.pname {
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
}
.not {
    font-size: 24px;
    font-weight: 700px;
    line-height: 25.18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#333333;
    margin-left: 2%;
    height: 25px;
    margin-top:-1%;
}
.img {
    /* position:absolute; */
    display: block;
    width:45%;
    height:45%;
   margin-left:8%;
}
div.head {
    margin-left: 67%;
    margin-top: -35%;
    display:block;
    padding: 0 0 0 12px;
}
.prg {
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: 1.3em;
}
.username {
    margin-top:16%;
    text-align: center;
}
.parag {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 36px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 40px;
}
button {
    background-color: #333333;
    color: white;
    padding: 14px;
    transition: 0.4s ease-in;
    letter-spacing: -1px;
}
button:hover {
    border: 1px solid rgb(75, 32, 32);
    padding: 12px;
    font-size: 14px;
}

